.footer {
  min-height: 100px;
  background: #383737;
  position: relative;
  color: white;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px;
  background: #050505;
}

.footer a {
  color: white;
}

.nav-item {
  padding: 10px;
  margin: 10px;
}

.spanFooter {
  text-align: center;
  color: white;
}

.icon {
  color: white;
}